<div class="w3_agileits_top_nav">
  <ul id="gn-menu" class="gn-menu-main">
    <!-- Left menu bar starts -->
    <li class="gn-trigger">
      <a class="gn-icon gn-icon-menu" href="javascript:void(0)"><i class="fa fa-bars" aria-hidden="true"></i><span>Menu</span></a>
      <nav class="gn-menu-wrapper">
        <div class="gn-scroller scrollbar1">
          <ul class="gn-menu agile_menu_drop">
            <li>
              <a routerLink=""> 
                <i class="fa fa-tachometer"></i> Dashboard
              </a>
            </li>
            <li>
                <a routerLink="/users"> 
                  <i class="fa fa-users"></i> Users
                </a>
              </li>
            <!-- <li>
              <a href="#">
                <i class="fa fa-users" aria-hidden="true"></i> Users 
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </a> 
              <ul class="gn-submenu">
                <li class="mini_list_agile">
                  <a href="buttons.html"><i class="fa fa-caret-right" aria-hidden="true"></i> Buttons</a>
                </li>
                <li class="mini_list_w3">
                  <a href="grids.html"> <i class="fa fa-caret-right" aria-hidden="true"></i> Grids</a>
                </li>
              </ul>
            </li> -->
          </ul>
        </div><!-- /gn-scroller -->
      </nav>
    </li>
    <!-- Left menu bar ends -->
    <!-- Header section -->
    <li class="second logo admin" style="float:left">
      <h1>
        <a href="main-page.html">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>{{ site_heading }}  
        </a>
      </h1>
    </li>
    <!-- <li class="second w3l_search admin_login" style="border-left:0;">				 
        <form action="#" method="post">
          <input type="search" name="search" placeholder="Search here..." required="">
          <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>					
    </li> -->
  </ul>			
</div>