<div class="wthree_agile_admin_info">

  <div [hidden]="!loading" style="text-align:center">
      <div class="lds-ellipsis" style="margin:150px;">
          <div></div><div></div><div></div><div></div>
      </div>
  </div>
  
  <div [hidden]="loading">
    <!-- Header and left menu HTML will be embedded here -->
    <app-header-leftmenu></app-header-leftmenu>
    <div class="clearfix"></div>
    <!-- Appropriate route HTML will be replaced here -->
    <router-outlet></router-outlet>
  </div>

</div>
<div class="copyrights">
  <p>© 2019 TCS </p>
</div>

